# Dependencies
node_modules
**/node_modules

# Next.js
.next
**/.next
out

# Strapi
cms/.tmp
cms/.cache
cms/build
cms/dist
cms/.strapi-updater.json
cms/license.txt
cms/exports
cms/public/uploads/*
!cms/public/uploads/.gitkeep

# Env & secrets
.env
.env.*
!.env.example
!**/.env.example
!.env.local.example
!**/.env.local.example
cms/.env
web/.env.local

# DB / logs
*.sqlite
*.db
*.log
npm-debug.log*

# OS / tooling
.DS_Store
.turbo
